<div class="main">
    <form id="usrform" (ngSubmit)="addCustomer()">
        <div class=registration>
            <h4 style="text-align: center">Register</h4>
            <label>Enter First Name:</label>
            <input type="text" name="firstname" [(ngModel)]=registration.firstName><br>
            <label>Enter Last Name:</label>
            <input type="text" name="lastname" [(ngModel)]=registration.lastName><br>
            <label>Enter Contact Number:</label>
            <input type="number" size="10" name="contact" [(ngModel)]=registration.contact><br>
            <label>Gender:</label>
            <input type="radio" id="male" name="gender" value="male" [(ngModel)]=registration.gender>
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="female" [(ngModel)]=registration.gender>
            <label for="female">Female</label>
            <input type="radio" id="other" name="gender" value="other" [(ngModel)]=registration.gender>
            <label for="other">Other</label><br>
            <label>Address:</label>
            <textarea rows="4" cols="50" name="comment" form="usrform" [(ngModel)]=registration.address></textarea><br>
            <label>Date of Birth:</label>
            <input type="date" name="dob" [(ngModel)]=registration.dateOfBirth><br>
            <label>Email:</label>
            <input type="email" name="email" [(ngModel)]=registration.email><br />
            <label>Password:</label>
            <input type="password" name="password" [(ngModel)]=registration.password><br />
            <button type="submit">Register</button>

        </div>
    </form>
</div>
<h4>{{message}}</h4>