img{
    width: 50%;
    float: left;
}
label{
    padding: 7px;
}
input{
    border-radius: 5px;
}
button{
    border-radius: 5px;
    margin-left: 180px;
    background-color: blue;
    float: right;
    margin-right: 300px;
 }
.registration{
     box-sizing: border-box;
     background-color: lightgray;
     float: right;
     border-radius: 5px;
 }
 #usrform{
     position: absolute;
     top: 140px;
     margin-right: 97px;
 }
 