
 <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<nav>
    <div class="logo">transporto</div>
     <input type="checkbox" id="click">
     <label for="click" class="menu-btn">
       <i class="fas fa-bars"></i>
     </label>
     <ul>
       <li><a routerLink=''>Home</a></li>
       <li><a routerLink='login'>Login</a></li>
       <li><a routerLink='register'>Register</a></li>
       <li><a routerLink='showticket'>Show Ticket</a></li>
       <li><a routerLink='passenger'>Add Passenger</a></li>
      
     </ul>
  </nav>
  