label{
    padding: 10px;
}
input{
    border-radius: 5px;
}
button{
    border-radius: 5px;
    color: white;
    background-color: blue;
    
   
 }
 table, th, td {

    border: 1px solid black;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    
    padding: 8px;
    table-layout: fixed;
 }