button{
    margin-top: 9px;
    position: absolute;
    left: 4.5em;
    background-color: #e40046;
    color: white;
    border-radius: 1px;
    outline: 0;
    border-color:whitesmoke;
    width: 8em;
    height: 2.3em;
    border-radius: 6px;
}
.main{
    border: 1px solid black;
    width: 21em;
    position: absolute;
    top: 17em;
    border-radius: 10px;
    padding: 12px;
    height: 22.5em;
    background-color: whitesmoke;
    border-color: whitesmoke;
    font-size: 15px;
}
.route{
    padding: 12px;
    border-radius: 10px;    
    width: 21em;
    border: 1px solid black;
    position: absolute;
    left:35em;
    top: 17em;
    height: 22.5em;
    background-color: whitesmoke;
    border-color: whitesmoke;
    font-size: 15px;
}

.busdetail{
    position: absolute;
    top: 20em;
    left: 30em;
}
th{
    padding: 9px;
}
input{
    width: 19em;
    outline: 0;
    border-radius: 5px;
    border-color: rgb(201, 197, 197)
}
.sch{
    position: absolute;
    left: 61em;
    top: 17em;
    padding: 12px;
    border-radius: 10px;    
    width: 21em;
    border: 1px solid black;
    height: 22.5em;
    background-color: whitesmoke;
    border-color: whitesmoke;
    font-size: 15px;
}
.seat{
    position: absolute;
    right: 7em;
    top: 17em;
    padding: 12px;
    border-radius: 10px;    
    width: 21em;
    border: 1px solid black;
    height: 15.3em;
    background-color: whitesmoke;
    border-color: whitesmoke;
    font-size: 15px;
}
#showallbusbtn{
    position: absolute;
    left:60em ;
    top: 10px;
    width: 11em;
    height: 3em;
    bottom: 5px;
}
#showanalyticsbusbtn{
    position: absolute;
    left:34em ;
    top: 10px;
    height: 3em;
    width:11em ;
}
#showallroutesbtn{
    position: absolute;
    left:47em ;
    top: 10px;
    height: 3em; 
    width: 11em;   
}
h1{
    position: absolute;
    top: 26px;
    left: 1em;
}
.center{
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
    background-color: blue;
}




