.show-ticket{
    float:right;
    box-sizing: border-box;
    background-color: lightgray;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-right: 60px;
}
label{
    padding:10px;
}
button{
    border-radius: 5px;
    margin-left: 80px;
    background-color: blue;
    width: 100px;
    
 }
 input{
    border-radius: 5px;
    width: 100px;
}