.money{
    text-align: center;
    width: 200px;
    border-radius: 10px;
    border-color: whitesmoke;
    background-color: whitesmoke;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
}
p{
    font-size: 3em;
    color: black
}
.customercount{
    text-align: center;
    width: 200px;
    border-radius: 10px;
    border-color: whitesmoke;
    background-color: whitesmoke;
    color: black;  
    margin-left: 20em;
    position: absolute;
    bottom: 50px;
}
img{
    height: 55px;
}
#customer{
    position: relative;
    bottom: 170px;
    left: 12.6em;
}
#revenue{
    color: black;
    position: relative;
    top: 42px;
    left: 39px;
}



