.money{
    text-align: center;
    width: 200px;
    border-radius: 10px;
    border-color: whitesmoke;
    background-color: whitesmoke;
    color: black;
    margin-left: 260px;
    margin-top: 44px;
}
p{
    font-size: 3em;
    color: black
}
.customercount{
    text-align: center;
    width: 200px;
    border-radius: 10px;
    border-color: whitesmoke;
    background-color: whitesmoke;
    color: black;  
    margin-left: 40em;
    position: relative;
    bottom: 170px;
}
img{
    height: 49px;
}
#customer{
    position: relative;
    bottom: 165px;
    left: 24em;
}
#revenue{
    color: black;
    position: relative;
    top: 61px;
    left: 280px;
}
.totalbus{
    position: relative;
    left: 64em;
    top: 16em;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    border-color: whitesmoke;
    background-color: whitesmoke;
    color: black; 
    height: 111px;
}
#bus{
    position: relative;
    top: 230px;
    left: 39.2em;
}




