<div class="frm"> 
    <form (ngSubmit)="fetchBus()">
        <label>From</label>
        <input type="text" name="from" [(ngModel)]=searchBus.source />
        <label>To</label>
        <input type="text" name="to" [(ngModel)]=searchBus.destination/>
        <label>Date of journey</label>
        <input type="date" name="date" [(ngModel)]=searchBus.date/>
        <button type="submit">Search Bus</button>
    </form>
</div>
<div *ngFor="let d of data">
    <br />
    <p>
Bus Name: {{d[0]}} <br />
Bus Type: {{d[1]}}  <br/>
Fare: {{d[2]}}      <br />
DepartureTime:{{d[3]}} <br />
ArrivalTime:{{d[4]}}
    </p>

</div>