<p>Seat booking</p>


<!-- <div>
  <label *ngFor="let hobby of hobbies" #checkbox class="mdl-checkbox mdl-js-checkbox">
    <input type="checkbox" name="hobbies" [value]="hobby" 
    (change)="populateMyHobbies(hobby,$event.target.checked)" class="mdl-checkbox__input">
    <span class="mdl-checkbox__label">{{hobby}}</span>
</label>
<button (click)="faltufn()"> Display Data</button>
</div> -->

<div>
  <label *ngFor="let s of seats" #checkbox class="mdl-checkbox mdl-js-checkbox">
    <input type="checkbox" name="seatId" [value]="s" 
    (change)="populateMyHobbies(s,$event.target.checked)" class="mdl-checkbox__input">
    <span class="mdl-checkbox__label">{{s}}</span>
</label>
<button (click)="faltufn()"> Display Data</button><br>
<label *ngIf="totalPrice">Total Price:{{totalPrice}}</label><br>
<label *ngIf="totalSeatsBooked">Total Seats Booked:{{totalSeatsBooked}}</label><br>
<button>Confirm Booking</button>

<div *ngFor="let s of seatStatus">
<label>Seat Status: {{s[0]}}</label>
<label>Seat Status: {{s[1]}}</label>

</div>
</div>