<p>Seat booking</p>


<!-- <div>
  <label *ngFor="let hobby of hobbies" #checkbox class="mdl-checkbox mdl-js-checkbox">
    <input type="checkbox" name="hobbies" [value]="hobby" 
    (change)="populateMyHobbies(hobby,$event.target.checked)" class="mdl-checkbox__input">
    <span class="mdl-checkbox__label">{{hobby}}</span>
</label>
<button (click)="faltufn()"> Display Data</button>
</div> -->

<div>
  <label *ngFor="let s of seats" #checkbox class="mdl-checkbox mdl-js-checkbox">
    <ul><li>
    <span class="mdl-checkbox__label">Seat Number {{s+1}}</span>
    <input type="checkbox" name="seatId" [value]="seatStatus[s][2]"  [disabled]="seatStatus[s][0]==='N'?true:false"
    (change)="populateMyHobbies(seatStatus[s][2],$event.target.checked)" class="mdl-checkbox__input">
  </li>
  </ul>
</label>
    <button (click)="showPrice()" class="btn2"> Show Total Price:</button><br>
    <div class="datadisp">
    <label *ngIf="totalPrice">Total Price:{{totalPrice}}</label><br>
    <label *ngIf="totalSeatsBooked">Total Seats Booked:{{totalSeatsBooked}}</label><br>
  </div>
    <button class="btn" (click)="confirmBooking()">Confirm Booking</button>
</div>
